<%
   content_for :head do          %>
    <link href="/pwr/engine/pr_styles_review.css?1418029260" media="screen" rel="stylesheet" type="text/css" />
     <script src="/pwr/engine/js/full.js" type="text/javascript"></script>
    <script type="text/javascript">
//<![CDATA[
var pr_style_sheet = '/';
var pr_locale = 'en_US';
var pr_zip_location = '/';
var pr_site_id = '2';
//]]>
</script>

<%   end -%>

<div id="reviews" class="ui-tabs-panel ui-widget-content ui-corner-bottom" data-hook="product_reviews">
<div itemprop="aggregateRating"  class="forschema"  style="display:none;"
       itemscope itemtype="http://schema.org/AggregateRating">
       Rated <span itemprop="ratingValue"><%= @product.review_set_average_rating %></span>/5
       based on <span itemprop="reviewCount"><%= @product.review_set_full_review_count %></span> customer reviews
</div>
<div class="pr_review_summary" id="review_<%=@product.id.to_s%>">
    <%#= File.read( product.review_set_inline_path ) if (product.review_set && !product.review_set_inline_path.blank? && File.exists?( product.review_set_inline_path ) )%>
</div>
    <script>
        var r<%=@product.id.to_s%>=$("#review_<%=@product.id.to_s%>")
        r<%=@product.id.to_s%>.html('')
        r<%=@product.id.to_s%>.write=function(d){r<%=@product.id.to_s%>.html(d)}
    </script>

<script type="text/javascript">
    //<![CDATA[
    POWERREVIEWS.display.engine(r<%=@product.id.to_s%>, {"pr_snippet_min_reviews":1,"pr_write_review":"/products/<%=@product.slug%>/review","pr_style_sheet":"/","pr_page_id":"<%=@product.id.to_s%>"});
    //]]>
</script>
</div>

