
<% unless @review_product.variants_and_option_values(current_currency).any?
    img_url=@review_product.images.first.attachment.url(:large)
  else
    img_url=@review_product.variants.first.images.first.attachment.url(:large)
 end %>

<div id="reviews" class="ui-tabs-panel ui-widget-content ui-corner-bottom" data-hook="product_reviews">

<div class="pr_review_summary" id="review_<%=@review_product.id.to_s%>">
  <div class="yotpo yotpo-main-widget"
       data-product-id="<%= @review_product.id%>"
       data-price="<%= @review_product.price%>"
       data-currency="USD"
       data-name="<%= @review_product.name%>"
       data-url="/products/<%= @review_product.slug%>"
       data-image-url="<%= img_url%>">
  </div>
</div>

</div>

