<%   @product||=product%>

<div class="pr_review_summary" id="review_summary_<%=@review_product.id.to_s%>">
  <%#= File.read( product.review_set_inline_path ) if (product.review_set && !product.review_set_inline_path.blank? && File.exists?( product.review_set_inline_path ) )%>
</div>
<div class="rating"><div class="pr_review_summary"><span id="ask_a_question" tabindex="5"><a href="#qa">Ask a Question</a></span></div></div>
<div class="clear"></div>
<script>
    var rs<%=@review_product.id.to_s%>=$("#review_summary_<%=@review_product.id.to_s%>")
    rs<%=@review_product.id.to_s%>.html('')
    rs<%=@review_product.id.to_s%>.write=function(d){rs<%=@review_product.id.to_s%>.html(d)}
</script>

<script type="text/javascript">
    //<![CDATA[
    POWERREVIEWS.display.snippet( rs<%=@review_product.id.to_s%>, {"pr_snippet_min_reviews":1,"pr_read_review":"#reviews","pr_write_review":"<%=@review_product.slug%>/review","pr_style_sheet":"/","pr_page_id":"<%=@review_product.id.to_s%>"});
    //]]>
</script>

